* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Fira Code', monospace;
  min-height: 100vh;
  padding-bottom: 300px;
  background-color: #f5f7dc;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  background-image: linear-gradient(90deg, #bf4d4b, #cc8786);
  background-size: 0% 5px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.3s ease;
}

a:hover {
  background-size: 100% 5px;
}

header {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url('public/img/pexels-pavel-danilyuk-5807636.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

main {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 920px;
  margin: 0 auto;
  h2,
  h3,
  p,
  span {
    padding: 10px;
  }
}

.why-i-bike {
  padding: 20px;
  background-color: #ffff82;
}

.my-bike-text {
  padding: 20px;
  background-color: #bf4d4b;
  color: white;
}

.my-bike-img {
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advise {
  padding: 20px;
  background-color: #b5d99c;
  i {
    margin-inline-end: 10px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(49, 40, 42);
  color: white;
}

.contact,
.social-media {
  padding: 10px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  span {
    padding: 10px;
  }
  a {
    color: white;
  }
}
