body {
  padding-bottom: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 0.5fr);
}

.why-i-bike {
  grid-column: 1 / span 6;
}

.my-bike-text {
  grid-column: 1 / span 3;
}

.my-bike-img {
  grid-column: 4 / span 3;
}

.advise {
  grid-column: 1 / span 6;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(49, 40, 42);
  color: white;
}
